@charset 'UTF-8';

/* FONTES*/
  @import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');

  @font-face {
    font-family: 'PF DinText Pro Regular';
    src: url('FontsFree-Net-PF-DinText-Pro-Regular.ttf')
    format('truetype');
  }

/*FONTES*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 body{
    background-color: #474C55;
 }

:root{
    --fonte-secundaria:'PF DinText Pro Regular', serif;
    --fonte-principal:'David Libre', serif;
    --cor-letras: white;
    --cor-1: #2C1E19;
    --cor-2: #775A48;
    --cor-3: #ddcec0;
    --cor-4: #8e98a9;
    --cor-5: #bc825a;

    --fonte-input: arial;

    --adv-width: 200px;
    --adv-height: 250px;
}

li{ 
    list-style-type: none; 
    list-style: none;
}

a{ 
    text-decoration: none; 
}

.DisplayNone{
    display: none;
}
.DisplayFlex{
    display: flex;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header{
    font-family:var(--fonte-principal) ;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.Logo{
    background-image: url("./imagens/image\ 33.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
}

.material-symbols-outlined{
    cursor: pointer;
    color: var(--cor-1);
}



/* LISTA MENU */
#Lista{
    background-color: var(--cor-5);
    font-family: var(--fonte-principal);
    width: 150px;
    /* height: 100%; */
    padding: 40px 10px;

    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;

    border-right: 1px solid var(--cor-5);
    border-bottom: 1px solid var(--cor-5);
}

#CloseMenu{
    display: flex;
}

.li{
    width: 100%;
    padding: 0 5px;
    justify-content: space-between;cursor: pointer;
}

.li > a{
    font-weight: 600;
    font-size: 18px;
    color: var(--cor-1);
}

.li > a:hover{
    text-decoration: underline;
}

.li > ion-icon{
    color: var(--cor-1);
}


/* SLIDES */

.Slide{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConteinerSlides{
    position: absolute;
}

.contentproj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}
div.contentproj > h1{
    font-family: var(--fonte-secundaria);
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #f1c8ab;
    padding: 10px;
}
div.contentproj > a{
    color: white;
    padding: 20px;
    font-size: 13px;
    border-radius: 40px;
    background-color: var(--cor-5);
}

.contentproj h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color: white;
    transform: translateY( 
    );
}

.contentproj p{
    color: white;
    font-size: 20px;
    transform: translateY(-50%, -50%);
    
}

/* @keyframes anmtext {0%{
    opacity: 0;
    transform: translateX(-100px);

}
} */

.Slides{
    display: none;
}
.Slides.Active{
    display: block;
}

.Slides:nth-child(1){
    background: 
        linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.849)),
            url("./imagens/STJ.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat ;
    height: 70vh;
}
.Slides:nth-child(2){
    background: 
    linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.849)),
            url("./imagens/Supremo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat ;
    height: 70vh;
}
.Slides:nth-child(3){
    background: 
    linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.849)),
            url("./imagens/Img-Peso.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat ;
    height:70vh;
}

 

/* Sobre */
.Sobre{
    font-family: var(--fonte-principal);
    ;
    display: flex;
    flex-flow: column;
    gap: 20px;
    position: relative;
    z-index: 5;
}
.Sobre h1{
    font-weight: 700;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 35px;
    color: var(--cor-letras);
}
.Sobre p{
    padding: 10px;
    color: var(--cor-letras);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.Articles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
article{
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.233) );
    padding: 20px;
    width: 200px;
    text-align: center;
}
article.Adv1{
    width: 100%;
    background-color: #24262A ;
}
article.Adv2{
    width: 100%;
    
}
article.Adv3{
    width: 100%;
    background-color: #6B727F;
}
article h2{
    padding: 15px;
    font-weight: 500;
    color: var(--cor-letras);
    font-size: 18px;
}

.ImagensArt{
    width: 100px;
}


/* ESCRITORIO */

.Escritorio{
    padding: 30px 5px;
    flex-flow: column;
    text-align: center;
    color: var(--cor-letras);
    background-color: var(--cor-1); 
}
.ConteinerSlides2{
    position: absolute;
}

.Slides2{
    display: none;
}
.Slides2.Active{
    display: block;
}

.Slides2:nth-child(1){
    width: 70vw;
    background: url("./imagens/escritorio.png");
    background-size: cover;
    background-position: center;
    height: 35vh;
}
.Slides2:nth-child(2){
    width: 70vw;
    background: url("./imagens/Escritorio1.jpg");
    background-size: cover;
    background-position: center;
    height: 35vh;
}
.Slides2:nth-child(3){
    width: 70vw;
    background: url("./imagens/Escritorio2.jpg");
    background-size: cover;
    background-position: center;
    height: 35vh;
}

#escritorioTitle{
    size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--fonte-principal);
    width: 100%;
    flex-flow: column;
    padding: 10px;
}

#escritorioTitle > p{
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    font-family: var(--fonte-secundaria);
}

.Flechas{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: translateY(80px);
    gap: 70vw;
}
.Flecha1{
    padding: 5px;
}
.antEsc,.proxEsc{
    color: white;
    cursor: pointer;
}
.antEsc:hover,.proxEsc:hover{
    transition: 0.70s;
    color: rgba(255, 255, 255, 0.404);
}
/* Qualidades */

div.qualidades{
    background-image: url('imagens/adv\ fundo.png');
    background-size: cover;
    background-position: center;
    
    height: 512px;
}

div.exp{
    color: white;
    padding: 20px;
}
div.alinhar{
    display: flex
}
div.alinhar > img{
    height: 30px;
    width: 40px;
    padding-left: 10px;
    
}
div.alinhar > h1{
    font-weight: 500;
    font-size: 25px;
    font-family: var(--fonte-principal);
}
div.exp > p{
    font-size: 15px;
    padding-top: 10px;
    font-family: var(--fonte-secundaria);
}
/* TEXTO INFORMATIVO */

div.txtinf{
    padding: 20px;
   
    background-color: var(--cor-3);
}
div.txtinf > p{
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
div.txtinf > a{
    text-align: center;
    color: white;
    
}
div.txtinf > a > h2{
    padding: 20px;
    font-size: 16px;
    border-radius: 40px;
    background-color: var(--cor-5);
}


/* CONTATO */

.Cbc-Formulario{
    text-align: center;
    background-color: #0B0806;
    color: white;
}
.Cbc-Formulario h1{
    padding: 10px;
    font-size: 28px;
}
.Cbc-Formulario p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 16px;
}
.formulario{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #0B0806; 
}

div.Input-center > label{
    display: flex;
    align-items: start;
    font-weight: bolder;
}

.Input-center{
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 15px;
    width: 100%;
}

.person-input{
    box-shadow: 1px 1px 1px #F7F7F7;
    border: 1px solid #D7D7D7 ;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 22px;
} 

div.Input-center > button{
    margin: auto;
    font-size: var
    (--fonte-secundaria);
    font-weight: 500;
    color: var(--cor-letras);
    padding: 15px;
    border: 1px #49382C ;
    border-radius: 10px;
    background-color: #594436;
    letter-spacing: 0.5px;
    width: 200px;
    margin-top: 10px;
}
button > a{
    font-size: 20px;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}
/* LOCALIZAÇAO */
div.localizaçao{
    background-color: #0B0806 ;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.localizaçao > iframe{
    border-radius: 8px;
    height: 300px;
    width: 90%;
}
/* Footer */
.InforFooter{
    background-color: #594436;
}
.inf{
    padding: 10px;
}
.InforFooter p > a{
    margin-left: 5px;
    font-size: 14px;
    color: white;
    font-family: var(--fonte-secundaria);
    margin-bottom: 500px;
}
.InforFooter p > img{
    padding: 5px;
    background-color: var(--cor-1);
    width: 25px;
    border-radius: 5px;
}

div.cop{
    background-color: var(--cor-3);
    text-align: center;

    padding: 8px;
}
div.cop > p{
    font-size: 10px;
    margin-top: 10px;
}










/* .InforFooter{
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 4px;
}
.InforFooter >  p > a{
    color: white;
}
.ImgFooter{
    background-color: #272121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}
.Home-Button{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


    --diameter: 50px;
    --buttonSpace: 30px;
    width: var(--diameter);
    height: var(--diameter);
    
    position: fixed;
    bottom: var(--buttonSpace);
    right: var(--buttonSpace);
    z-index: 5;
    cursor: pointer;
    border-radius: 25px;
    
}

#btn > img{
    width: 50px;
} */


