@media only screen and (min-width: 600px){
    header{
        gap: 70px;
        justify-content: center;
        align-items: center;
    }
    div.Logo{
        background-size: normal;
        width: 250px;
        height: 100px;
        
    }
    .li > a{
        font-size: 20px;
    }

    div.Img1{    
        height: 600px;

        background: 
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
            url("./imagens/SupremaCorte.jpg");

        /* background-size: 100% 100%; */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;       
    }

    div.Img1 > div > #advogado{
        display: flex;
    }

    #advogadoTitle{
        display: none;
    }

    /* SLIDES ESCRITORIO */

    .Slides2:nth-child(1){
        width: 50vw;
        height: 35vh;
    }
    .Slides2:nth-child(2){
        width: 50vw;
        height: 35vh;
    }
    .Slides2:nth-child(3){
        width: 50vw;
        height: 35vh;
    } 
    .Flechas{
        transform: translateY(70px);
        gap: 50vw;
    }

    /* LISTA MENU */
    #Lista{

        width: fit-content;
        display: flex;
        flex-flow: row;
        position: static;
        border: none;
    }

    header > div.material-symbols-outlined, 
    #CloseMenu, 
    .li > ion-icon{
        display: none;
    }

    #advgd{
        width: 350px;
        height: 500px;

        top: 230px;
        right: 10px;
    }
    .Input-center{
        width: 50%;
    }
    /* SOBRE */
    .Articles{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    article.Adv1{
        height: 400px;
    }
    article.Adv2{
        height: 400px;
        background-color: #474C55;
    border-top-left-radius: 50px;
    box-shadow: 0px 0px 20px
    black;
    }
    article.Adv3{
        height: 400px;
        background-color: #474C55;
    border-top-left-radius: 50px;
    box-shadow: 0px 0px 20px
    black;
    }
    /* QUALIDADES */
    div.mq-pc{
        display: flex;
    }
    div.qualidades{
        width: 50%;
    }
    div.txtinf{
        width: 50%;
    }
    div.txtinf > p{
        padding-bottom: 50px;
    }
    /* Footer */
    footer{
        background-color: var(--cor-principal);
        gap: 3px;
    }

    #btn{
        display: block;
    }
    /* BOTÕES SLIDES */
    .ant, .prox{
        display: block;
    }
    /* BOTAO WPP */
    #btn > img{
        width: 60px;
        border-radius: 22px;
    }
    .Home-Button{
        --diameter: 50px;
        --buttonSpace: 50px;
        width: var(--diameter);
        height: var(--diameter);
    }
    /* CONTATO E LOC */
    #FtFB{
        width: 20px;
    }
    div.mq-pc2{
        display: flex;
        justify-content: center;
        gap: 50px;
        background-color: #0B0806;
    }
    div.localizaçao > iframe{
        border-radius: 20px;
        padding: 10px;
        height: 50%;
        width: 100%;
    }
    #Contato{
        width: 50%;
    }
    div.Input-center > button{
        width: 70%;
    }
    /* FOOTER E INF */
    footer{
        width: 60%;
    }
    .InforFooter{
        display: flex;
        flex-wrap: wrap;
    }
    .coluna1{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .coluna2{
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    div.cop{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
    div.mq-pc3{
        display: flex;
    }
}

@media only screen and (min-width: 900px){
    #slides{
        width: 500px;
        height: 330px;
    }
    div.Img1{ 
        padding-left: 50px;   
        justify-content: center;
        align-items: flex-start;       
    }
    div.Img1 > div > h2{
        font-size: 40px;
    }
    
    div.Img1 > div > #advogado{
        font-size: 50px;
    }
    header{
        gap: 300px;
        justify-content: center;
        align-items: center;
    }
    div.Logo{
        background-size: normal;
        width: 300px;
        height: 120px;
        
    }
    .li > a{
        font-size: 23px;
    }
    .Sobre h1{
        font-size: 30px;
    }
    .Sobre h2{
        font-size: 25px;
        
    }
    .Sobre p{
        font-size: 16px;
    }
    /* SLIDES ESCRITORIO */

    .Slides2:nth-child(1){
        width: 40vw;
        height: 35vh;
    }
    .Slides2:nth-child(2){
        width: 40vw;
        height: 35vh;
    }
    .Slides2:nth-child(3){
        width: 40vw;
        height: 35vh;
    }
    .Flechas{
        transform: translateY(60px);
        gap: 45vw;
    } 
    /* QUALIDADES */
    div.mq-pc{
        display: flex;
    }
    div.exp{
        padding: 40px;        
    }
    div.qualidades{
        padding: 30px;
        height: 600px;

    }
    div.txtinf{
        padding: 50px;
        width: 50%;
    }
    div.txtinf > p{
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 50px;
    }
    /* LOCALIZAÇÃO */
    div.localizaçao > iframe{
        border-radius: 20px;
        padding: 10px;
        height: 90%;
        width: 40vw;
    }
    
    
}
